.mainDiv {
  margin-top: 15px;
  margin-bottom: 15px;
}

.search_food {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_recipe {
  width: 200px;
  border-radius: 10px;
}

.caloriesDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.div_img {
  display: flex;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  align-items: start;
  gap: 20px;
  width: 635px;
}

.health_text {
  font-weight: bold;
  color: #000;
}

.search_empty {
  display: flex;
  align-items: center;
  height: 50vh;
  justify-content: center;
}

.search_empty_text {
  color: white;
}

.input_search_recipe {
  padding: 20px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 40px;
  border: none;
}

.input_search_recipe:focus {
  padding: 20px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 40px;
  border: none;
}

.input_search_recipe::placeholder {
  font-size: 15px;
}

.input_search_recipe:focus {
  padding: 20px;
  font-size: 20px;
}

.cards_recipe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 10px;
}

.healthLabels {
  background-color: skyblue;
  color: #fff;
  font-weight: bold;
  border: 1px solid dodgerblue;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
  white-space: nowrap;
  text-align: center;
}

.info_Recipe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recipe_name,
.cuisine_type,
.calories {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-left: 20px;
}

.healthDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15px;
  gap: 10px;
}

.health_labels {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 20px;
}

.recipeLabel {
  color: #000;
  font-weight: bold;
}

.cuisineTypeLabel {
  color: #000;
  white-space: nowrap;
  font-weight: bold;
}

.cuisineType {
  color: #000;
  font-weight: 100;
}

.calories_num {
  color: #000;
  font-weight: 100;
}

.recipeType {
  color: #000;
  font-weight: 100;
  text-align: justify;
}

@media only screen and (max-width: 1200px) {
  .cards_recipe {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 10px;
  }
}

@media only screen and (max-width: 640px) {
  .div_img {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .info_Recipe {
    display: flex;
    align-items: start;
  }

  .health_labels {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 468px) {
  .search_empty_text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .image_recipe {
    width: 110px;
  }

  .search_empty_text {
    font-size: 15px;
  }

  .recipeLabel,
  .recipeType,
  .health_text,
  .cuisineTypeLabel,
  .cuisineType {
    font-size: 13px;
  }

  .healthLabels {
    font-size: 10px;
  }

  .recipe_name {
    white-space-collapse: none;
  }
}